<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Education
            </h3>
            <p class="subtitle-a">
              Refers To The Process Of Acquiring Knowledge,Skills,Values
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.google.com/maps/place/Dharmamurthi+Rao+Bahadur+Calavala+Cunnan+Chetty+Hindu+College/@13.1235212,80.0713977,17z/data=!3m1!4b1!4m6!3m5!1s0x3a52627e49fa92a5:0x53821dbf20ec31f3!8m2!3d13.123516!4d80.0739726!16s%2Fm%2F03gyl5t"><img src="assets/img/drbccc-clg.jpg" width="100%" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">UnderGraduation</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="http://drbccchinducollege.edu.in/">D.R.B.C.C.C.HINDU COLLEGE</a></h3>
              <p class="card-description" style="text-align: justify;">
                I Am Completed My UnderGraduation In This College For Bachelor Of Computer Science In 2020 - 2023 With <strong>An Aggregate of 82% </strong>.This Degree Is Covered <strong> Python ,DataStructures With Java, PHP,Relational DataBase ManagementSystem ,Operating System,CloudComputing ,DataScience ,MobileComputing ,SoftwareEngineering</strong>.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="assets/img/developer-pic.jpeg" alt="" class="avatar rounded-circle">
                  <span class="author">DINESH SANKAR</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> 2020 - 2023
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.google.com/maps/place/Vijayanta+higher+secondary+school/@13.1239294,80.1050542,15z/data=!4m6!3m5!1s0x3a52638a0451e61b:0xef06f1c3add1a0a3!8m2!3d13.1239294!4d80.1050542!16s%2Fg%2F1tcxh5zl"><img src="assets/img/Vhss-school.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">HSC</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://vijayantahighersecondaryschool.com/">VIJANTA HR. SEC SCHOOL</a></h3>
              <p class="card-description">
                I Finished My Higher Education In Vijanta Hr. Sec School With<strong> Mathamatics and ComputerScience </strong> In 2018 - 2020 With<strong> An Aggregate of 56%</strong>.
                
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="assets/img/developer-pic.jpeg" alt="" class="avatar rounded-circle">
                  <span class="author">DINESH SANKAR</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> 2018-2020
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.google.com/maps/place/Annai+Lourd+School/@13.1188167,80.0779237,18z/data=!4m14!1m7!3m6!1s0x3a528834d4a45bbf:0x6b9eb59e8dc18496!2sAnnai+Lourd+School!8m2!3d13.1204513!4d80.0789557!16s%2Fg%2F124yk0fby!3m5!1s0x3a528834d4a45bbf:0x6b9eb59e8dc18496!8m2!3d13.1204513!4d80.0789557!16s%2Fg%2F124yk0fby"><img src="assets/img/alhss-sch.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">SSLC</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://schools.org.in/thiruvallur/33010506803/annai-lourd-high-sch-r-g-nagar.html">ANNAI LOURD HR. SEC SCHOOL</a></h3>
              <p class="card-description">
                I Completed My Secondary School Education In Annai Lourd Hr. Sec School in 2018 With<strong> An Aggregate of 79%</strong>.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="assets/img/developer-pic.jpeg" alt="" class="avatar rounded-circle">
                  <span class="author">DINESH SANKAR</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> 2018
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></section>