<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <p class="subtitle-a">
              Here I Mentioned Ongoing And Completed Projects
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="#hero">
              <div class="work-img">
                <img src="assets/img/portfolio-project.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">PORTFOLIO</h2>
                  <p> [AngularJs ,BootStrap ,HTML ,CSS]</p>
                  <div class="w-more">
                    <span class="w-ctegory">Web Site</span> / <span class="w-date">21 Apr. 2023</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://github.com/DINESH-SANKAR-SELVI/DINESH-PORTFOLIO/" title="SEE CODE IN GIT"> <span class="bi bi-check-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a onclick="alert('YOU WILL BE SEE IN CLOUD..!')">
              <div class="work-img">
                <img src="assets/img/mcq-project.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Multiple Choice Question</h2>
                  <p >[JSP,Servlets,MySQL,XML,HTML,CSS]</p>

                  <div class="w-more">
                    <span class="w-ctegory">Web Application</span> / <span class="w-date">31 Mar. 2023</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://github.com/DINESH-SANKAR-SELVI/JAVA_WEB_PROJECT" title="SEE CODE IN GIT"> <span class="bi bi-check-circle"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a onclick="alert('YOU WILL BE SEE IN CLOUD..!')" >
              <div class="work-img">
                <img src="assets/img/standalone-project.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">StandALone</h2>
                  <p>[Java Standard Edition ,Eclipse]</p>
                  <div class="w-more">
                    <span class="w-ctegory">console Programs</span> / <span class="w-date">OnGoing</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://github.com/DINESH-SANKAR-SELVI/LOGIC_PARTS_PROJECTS-195-TotallyCodes-" title="SEE CODE IN GIT"> <span class="spinner-border text-success" role="status"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a onclick="alert('YOU WILL BE SEE IN CLOUD..!')" >
              <div class="work-img">
                <img src="assets/img/curd-project.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">CRUD Operation</h2>
                  <p>[AngularJS ,SpringBoot ,REST API]</p>
                  <div class="w-more">
                    <span class="w-ctegory">Web Application</span> / <span class="w-date">Apr 25. 2023</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://github.com/DINESH-SANKAR-SELVI/AngularJs-CRUD" title="SEE CODE IN GIT"> <span class="bi bi-check-circle" role="status"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a onclick="alert('YOU WILL BE SEE IN CLOUD..!')" >
              <div class="work-img">
                <img src="assets/img/simple-e-commerce-project.jpg" alt="" class="img-fluid">
              </div>
            </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Simple Online Shopping</h2>
                <p>[SpringBoot ,AngularJs ,MySQL ,REST API ,etc.,]</p>
                <div class="w-more">
                  <span class="w-ctegory">Web Application</span> / <span class="w-date">OnGoing</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="https://github.com/DINESH-SANKAR-SELVI/ONLINE_SIMPLE_E-COMMERCE_MICRO-SERVICE_APPLICATION" title="SEE CODE IN GIT"> <span class="spinner-border text-success" role="status"></span></a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a onclick="alert('YOU WILL BE SEE IN CLOUD..!')" >
              <div class="work-img">
                <img src="assets/img/task-project.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">User & Invoice ManagementSystem</h2>
                  <p>[Angular ,TypeScript ,API ,Bootstrap]</p>
                  <div class="w-more">
                    <span class="w-ctegory">Web Application</span> / <span class="w-date">Sept 27. 2023 </span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="https://github.com/DINESH-SANKAR-SELVI/Task-CURD-Angular.git" title="SEE CODE IN GIT"> <span class="bi bi-check-circle" role="status"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </section><!-- End Portfolio Section -->

