<div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/certificate-bg.jpg)" id="ceritified">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/java-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/java-certificate.jpg" alt=""  width="30%" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Java Standard Edition@SpokenTutorial</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      Java Standard Edition In SpokenTutorial.com OnLine Platform In Sep. 2021 <br /> It's Covered All Core and Collections with OOPs.
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/c&c++-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/c&c++-certificate.jpg"  width="15%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">C&C++@Apollo Computer Education</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                       MS-Office ,C&C++ In Apollo computer education. Offline Platform In mar. 2019 <br /> It's Covered Oops,Methods,etc.,
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/data-analytics-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/data-analytics-certificate.jpg" width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">DataAnalytics@DataNigma</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      Working With DataNigma with role of DataAnalyst. <br />In This Project BasedOn Human Acitivity Recognition In Feb 2023.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->          

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/alpha-debug-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/alpha-debug-certificate.jpg"  width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Debuging@Alpha College</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      This Is Debuging Competion With Alpha College Students And Wins Second Price<br /> In Feb. 2023
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/SA-debug-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/SA-debug-certificate.jpg"  width="15%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Debuging@SA College</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      This Is Debuging Competion With S.A. College Students And gets participatinn certificate ,This is My First Event of Debugging <br /> In Sep. 2022
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/connection-event-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/connection-event-certificate.jpg"  width="15%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Connection@S.A Engineering College</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      This Is Technical Connection Competion With S.A. Engineering College Students And Wins First Price<br />In Apr. 2022
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/digital-expo-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/digital-expo-certificate.jpg"  width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Project Expo@Drbccc Hindu College</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      In This Event. I Made a Rock,Paper,Scisor Game. Wins Award <br />In May 2022
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/php-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/php-certificate.jpg" width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">php@Spoken Tutorial</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      Hypertext Pre-processor In SpokenTutorial.com OnLine Platform In Dec. 2022 <br /> It's Covered All Core and DB-Connection with OOPs.
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/typing-ceritificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/typing-ceritificate.jpg" width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Typing@Typing.com</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      I Am Completed My Training on Typing.com online platform in Sep. 2021<br />Now I Can Type With 50 WPM
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/communication-course-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/communication-course-certificate.jpg"  width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Communication@Drbccc Hindu College</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      This Course Covered How To Commuicate With Other With Directly Or In-Directly. This Course Completed On DRBCCC HINDU COLLEGE In Sep. 2022
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->
              
              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/spoken-english-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/spoken-english-certificate.jpg"  width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">SpokenEnglish@Daytoday</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      SpokenEnglish In DayToDay. Offline Platform In Jun. 2018 <br /> It's Grammer,Adverb,Adjective,etc.,
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/e-quiz-ceritificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/e-quiz-ceritificate.jpg"  width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">technicalQuiz@Goverment art & science College</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      This Event Conducts On Goverment College In Online Platform <br />In Nov. 2021 
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/jrc-certificate.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/jrc-certificate.jpg" width="30%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">jrc@annailourd hr. sec school</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      Junior Red Cross Certificate<br /> In Dec. 2018
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <a href="assets/img/Basent-Technologies.jpg" data-gallery="CertificateGallery" class="portfolio-lightbox">
                    <div class="author-test">
                      <img src="assets/img/Basent-Technologies.jpg" width="15%" alt="" class="img-thumbnail b-shadow-a">
                      <span class="author" style="text-shadow: 6px 6px 6px #000;">Java@Besant Technologies</span>
                    </div>
                  </a>
                  <div class="content-test">
                    <p class="description lead">
                      Java Standard Edition In besant Technologies OnLine Platform In Apr. 2023 <br /> It's Covered All Core and Collections with OOPs.
                    </p>
                  </div>
                </div>               
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Testimonials Section -->

