<section id="experience" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Working Experience
            </h3>
            <p class="subtitle-a">
              Seasoned Professional With A Reputation For Excellence
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.google.com/maps/search/data+nigma+avadi/@13.1220197,80.0906988,17z/data=!3m1!4b1"><img src="assets/img/datanigma-internship.jpg" width="100%" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">InternShip</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://in.linkedin.com/company/datanigma">Data Nigma</a></h3>
              <p class="card-description" style="text-align: justify;">
                Working With DataNigma with role of DataAnalyst. In This Project BasedOn <strong> Acitivity Recognition In Feb 2023</strong> In This Project Tools Are Used Python ,Online IDE CoLab ,NumPy ,Pandas ,MathPlotLib ,Seaborn ,Excel.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="assets/img/developer-pic.jpeg" alt="" class="avatar rounded-circle">
                  <span class="author">Data Analyst</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> Mar 2023
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img"  style="border-bottom:1px solid black">
              <a href="https://maps.app.goo.gl/fjwbdJQDwCEmMvwB6" ><img src="assets/img/intelizest-profession.jpg" width="100%" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Profession</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://in.linkedin.com/company/datanigma">intelizest consulting private limited</a></h3>
              <p class="card-description" style="text-align: justify;">
                Working With intelizest consulting private limited with role of Angular Developer. This current Project BasedOn WareHouse ManagementSystem <strong> from 27 Sept</strong> In This Project Tools Are Used Angular, TypeScript, HTML, CSS, JavaScript, HttpAPI, etc.,
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="assets/img/developer-pic.jpeg" alt="" class="avatar rounded-circle">
                  <span class="author">Angular Developer</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> Now
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End experience Section -->

