<section id="skills" class="services-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Skills
          </h3>
          <p class="subtitle-a">
            Maximizing Potential Through Continuous Skill Development
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">

      <mat-card class="col-md-3 service-box m-3">
        <mat-card-title class="service-ico">
          <span class="ico-circle"><i class="bi bi-window"></i></span>
        </mat-card-title>
        <mat-card-content class="service-content">
          <h2 class="s-title text-center">FrontEnd</h2>
          <p class="s-description text-center">HTML<br /><br />CSS<br /><br />JavaScript</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="col-md-3 service-box m-3">
        <mat-card-title class="service-ico">
          <span class="ico-circle"><i class="bi bi-hdd-stack"></i></span>
        </mat-card-title>
        <mat-card-content class="service-content">
          <h2 class="s-title text-center">BackEnd</h2>
          <p class="s-description text-center">J2SE[Ceritified] &amp; J2EE <br /><br /> C &amp; C++[Ceritified]
            <br /><br />Core Python &amp; PHP[Ceritified]</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 service-box m-3">
        <mat-card-title class="service-ico">
          <span class="ico-circle"><i class="bi bi-database"></i></span>
        </mat-card-title>
        <mat-card-content class="service-content">
          <h2 class="s-title text-center">DataBase</h2>
          <p class="s-description text-center">MySQL <br /><br />MongoDB</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 service-box m-3">
        <mat-card-title class="service-ico">
          <span class="ico-circle"><i class="bi bi-bezier2"></i></span>
        </mat-card-title>
        <mat-card-content class="service-content">
          <h2 class="s-title text-center">API'S</h2>
          <p class="s-description text-center">REST API <br /><br />SOAP</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 service-box m-3">
        <mat-card-title class="service-ico">
          <span class="ico-circle"><i class="bi bi-boxes"></i></span>
        </mat-card-title>
        <mat-card-content class="service-content">
          <h2 class="s-title text-center">FrameWorks</h2>
          <p class="s-description text-center">Spring <br /><br />Hibernet <br /><br />AngularJS &amp; Bootstrap</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="col-md-3 service-box m-3">
        <mat-card-title class="service-ico">
          <span class="ico-circle"><i class="bi bi-tools"></i></span>
        </mat-card-title>
        <mat-card-content class="service-content">
          <h2 class="s-title text-center">Tools</h2>
          <p class="s-description text-center">MS-OFFICE <br /><br />Eclipse[IDE]<br /><br />postman[API Testing Tool]
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section><!-- End Services Section -->