<section id="skills" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Skills
            </h3>
            <p class="subtitle-a">
              Maximizing Potential Through Continuous Skill Development
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-window"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">FrontEnd</h2>
              <p class="s-description text-center">HTML<br /><br />CSS<br /><br />JavaScript</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-hdd-stack"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">BackEnd</h2>
              <p class="s-description text-center">
                J2SE[Ceritified] &amp; J2EE <br /><br /> C &amp; C++[Ceritified] <br /><br />Core Python &amp; PHP[Ceritified]
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-database"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DataBase</h2>
              <p class="s-description text-center">
               MySQL <br /><br />MongoDB
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-bezier2"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">API'S</h2>
              <p class="s-description text-center">
                REST API <br /><br />SOAP
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-boxes"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">FrameWorks</h2>
              <p class="s-description text-center">
                Spring <br /><br />Hibernet <br /><br />AngularJS &amp; Bootstrap
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-tools"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Tools</h2>
              <p class="s-description text-center">
               MS-OFFICE <br /><br />Eclipse[IDE]<br /><br />postman[API Testing Tool]
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
