<div id="hero" class="Background MainPage text-light">
  <div class="Overlay MainPage">.</div>
  <div class="position-absolute top-50 start-50 translate-middle text-center">
    <strong class="display-6 color-d Text-shadow display-4">Hello, welcome to my world !</strong>
    <strong class="d-block hero-title Text-shadow display-3">I am DINESH SANKAR</strong>
    <strong class="hero-subtitle Text-shadow">
      <h3 class="d-inline-block typed" data-typed-items="Full Stack Java WebDeveloper">Full Stack Java WebDeveloper</h3>
    </strong>
    <p class="pt-3"><a class="btn btn-dark scrollto Button" href="#about" ><i class="bi bi-star-fill m-1"></i>Learn More</a></p>
  </div>

</div>