<header id="header" class="d-block fixed-top navbar-colour">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html"><em>DINESH</em></a></h1>
     
      <nav id="navbar" class="navbar">
        <ul class="d-flex flex-row list-unstyled text text-uppercase text-light">
          <li><a class="nav-link scrollto m-3 active" href="#hero"><strong>home</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#about"><strong>about</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#skills"><strong>skills</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#work"><strong>work</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#ceritified"><strong>certified</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#experience"><strong>experience</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#blog"><strong>education</strong></a></li>
          <li><a class="nav-link scrollto m-3" href="#contact"><strong>contact</strong></a></li> 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

<app-welcome></app-welcome>
<app-profile></app-profile>
<app-skill-set></app-skill-set>
<app-certificate-space></app-certificate-space>
<app-project-details></app-project-details>
<app-project-details></app-project-details>
<app-experience></app-experience>
<app-education></app-education>
<app-contact></app-contact>
<app-good-bye></app-good-bye>