<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span onclick="window.location.href='#hero'" style="cursor: pointer;">DINESH</span></p>
                      <p><span class="title-s">Profile: </span> <span onclick="window.location.href='#skills'" style="cursor: pointer;" >Java Developer</span></p>
                      <p><span class="title-s">Email: </span> <span onclick="window.location.href='mailto:ddprofessional31@gmail.com'" style="cursor: pointer;">ddprofessional31@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span onclick="window.location.href='tel:+91 7604829520'" style="cursor: pointer;">+91 7604829520</span></p>
                      <p><span class="title-s">Github: </span> <span style="cursor: pointer;" onclick="window.location.href='https\://github.com/DINESH-SANKAR-SELVI'">DINESH-SANKAR-SELVI</span></p>
                      <p><span class="title-s">Linkedln: </span> <span  style="cursor: pointer;" onclick="window.location.href='https\://www.linkedin.com/in/dinesh-sankar-8a5767266'">dinesh-sankar-8a5767266</span></p>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/developer-pic.jpeg" class="img-fluid rounded b-shadow-a" width="130px" alt="">
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML &amp; CSS</span> <span class="pull-right" style="color: #000;font-weight: 600;">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>AngularJS &amp; bootstrap &amp; JQuery</span> <span class="pull-right" style="color: #000;font-weight: 600;">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Java Standard Edition </span> <span class="pull-right" style="color: #000;font-weight: 600;">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Java Enterprise Edition &amp; Java Spring</span> <span class="pull-right" style="color: #000;font-weight: 600;">65%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <span> REST API &amp; MYSQL</span> <span class="pull-right" style="color: #000;font-weight: 600;">70%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I Am DINESH SANKAR Born And Raised In Chennai And I Am Completed My UnderGraduate For Bachelor of Computer Science In D.R.B.C.C.C.HINDU COLLEGE With An Aggregate of 82% And I Have Completed My Certification in Java ,C & C++ ,And I Known Language Of Tamil And English And as a Fresher I Have Accrued The Knowledge in Java ,AngularJS ,REST API ,MySQL ,Spring.
                  </p>
                  <p class="lead">
                    I Can Be And To Contribute To The Technology Industry All That I Know And Can Do. I Am 
                    Dedicated To Perfecting My Craft By Learning From More Seasoned Developers, Remaining 
                    Humble, And Continuously Making Strides To Learn All That I Can About Development. And I 
                    Believe That My Understanding Of Problem Solving And Complex Algorithms Are Also skills 
                    That Have And Will Continue To Contribute To My Overall Success As A Developer.
                  </p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

